.content{
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  opacity: 0;
  &_show{
    transition: 0.3s;
    opacity: 1;
  }
  
  &__title{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  &__description{
    padding: 0 10px 0 0;
    font-size: 1.05rem;
    text-align: justify;
    margin-top: 20px;
    font-style: italic;
    max-height: 250px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: #e6ebff;
      border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #79a9fb;
      border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  &__more{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 50px;
  }
}
.nocontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  img{
    margin-top: 30px;
    max-width: 70%;
    margin-bottom: 20px;
  }
  p{
    width: 100%;
    font-style: italic;
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 20px;
    span{
      font-weight: bold;
    }
  }
}