.header {
  position: absolute;
  top: 0;
  background: transparent;
  z-index: 5000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  &__container {
    width: 98%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .search_wrapper {
      min-width: 350px;
      position: relative;
      z-index: 6000;

      .search_result {
        position: absolute;
        z-index: 6000;
        width: 100%;

        .item {
          background: white;
          border-bottom: 2px solid grey;
          padding: 10px;
          cursor: pointer;

          &:hover {
            color: cornflowerblue;
          }
        }
      }
    }
  }
}