.header{
  position: absolute;
  top: 0;
  background: transparent;
  z-index: 5000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  &__container{
    width: 98%;
  }
}