.item {
  height: max-content;
  border-bottom: 2px solid black;
  display: flex;
  font-style: italic;
  cursor: pointer;
  align-items: center;
  transition: background 0.3s;
  padding: 10px;

  &:hover {
    color: cyan;
  }

  &_selected {
    background: #a2b4ff;
  }

  h3 {
    width: 95%;
    margin: 0 auto;
  }
}